[submodule "shims/ShaderPlayground.Shims.HLSLcc/Source"]
	path = shims/ShaderPlayground.Shims.HLSLcc/Source
	url = https://github.com/Unity-Technologies/HLSLcc.git
[submodule "shims/ShaderPlayground.Shims.GlslOptimizer/Source"]
	path = shims/ShaderPlayground.Shims.GlslOptimizer/Source
	url = https://github.com/aras-p/glsl-optimizer.git
[submodule "shims/ShaderPlayground.Shims.Hlsl2Glsl/Source"]
	path = shims/ShaderPlayground.Shims.Hlsl2Glsl/Source
	url = https://github.com/aras-p/hlsl2glslfork.git
[submodule "shims/ShaderPlayground.Shims.Smolv/Source"]
	path = shims/ShaderPlayground.Shims.Smolv/Source
	url = https://github.com/aras-p/smol-v.git
[submodule "external/angle/source"]
	path = external/angle/source
	url = https://chromium.googlesource.com/angle/angle
[submodule "external/clspv/source"]
	path = external/clspv/source
	url = https://github.com/google/clspv.git
[submodule "external/tint/source"]
	path = external/tint/source
	url = https://dawn.googlesource.com/tint
[submodule "external/mesa/source"]
	path = external/mesa/source
	url = https://gitlab.freedesktop.org/mesa/mesa.git
