<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect requests to default azure websites domain" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^ytryhlsl\.azurewebsites\.net$" />
          </conditions>
          <action type="Redirect" url="http://shader-playground.timjones.io/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>