html, body {
    height: 100%;
}

.CodeMirror {
    width: 100%;
    height: auto;
}

.bg-primary {
    background-color: #57278E !important;
}

.options-panel {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    background-color: #FCFCFC;
}

.row > div > .navbar {
    border-bottom: 1px solid #dee2e6;
}

.cm-s-neat span.cm-type {
    color: darkcyan;
}