html, body {
    height: 100%;
}

.CodeMirror {
    width: 100%;
    height: auto;
}

.bg-primary {
    background-color: #57278E !important;
}

#options-panel {
    background-color: #FCFCFC;
}

@media (min-width: 992px) {
    #options-panel {
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
    }
}

.row > div > .navbar {
    border-bottom: 1px solid #dee2e6;
}

.cm-s-neat span.cm-type {
    color: darkcyan;
}

#output-loading {
    right: 1rem;
    top: 1rem;
    display: none;
}

#output-container.loading {
    opacity: 0.5;
}

.form-inline .form-group {
    margin-bottom: 0 !important;
}