<div class="row no-gutters d-flex flex-fill">
    <div class="col-lg d-flex flex-column" style="overflow:hidden">
        <nav class="navbar navbar-expand navbar-light bg-light flex-shrink-0">
            <form class="form-inline">
                <div class="form-group">
                    <select id="language" data-submit="language" class="form-control form-control-sm"></select>
                </div>
            </form>
            <button type="button" class="btn btn-sm btn-primary invisible">[Sizer]</button>
        </nav>

        <div id="code-editor-container" class="d-flex flex-fill">
            <textarea id="code"></textarea>
        </div>
    </div>

    <div class="col-lg order-last d-flex flex-column" style="overflow:hidden">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between flex-shrink-0">
            <form class="form-inline">
                <div class="form-group mr-2">
                    <select id="output-steps" class="form-control form-control-sm"></select>
                </div>
                <div class="form-group">
                    <select id="output-tabs" class="form-control form-control-sm"></select>
                </div>
            </form>

            <a id="compilation-summary-button" class="btn-link btn-sm invisible" href="#">Compilation summary</a>

            <div class="modal fade" id="compilation-summary-dialog" tabindex="-1">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Compilation summary</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Compiler</th>
                                        <th>Result</th>
                                        <th>Output format</th>
                                        <th>Output size</th>
                                    </tr>
                                </thead>
                                <tbody id="compilation-summary-content">

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex flex-fill flex-column position-relative" style="overflow:hidden">
            <div id="output-container" class="d-flex flex-fill"></div>

            <div id="output-loading" class="position-absolute w-25 d-none">
                <div class="progress align-middle">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-secondary w-100" role="progressbar"></div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between flex-shrink-0">
            <div class="dropup">
                <a id="download-button" class="btn btn-link btn-sm dropdown-toggle invisible" href="#" data-toggle="dropdown">Download binary</a>

                <div class="dropdown-menu">
                    <a id="download-binary-button" class="dropdown-item small" href="#">Raw file</a>
                    <a id="download-c-header-button" class="dropdown-item small" href="#">C header file</a>
                </div>
            </div>
            <span id="output-size" class="small">824 bytes</span>
        </nav>
    </div>

    <div id="options-panel" class="col-lg-auto d-flex flex-column shadow-sm" style="overflow:hidden">
        <nav class="navbar navbar-expand navbar-light flex-shrink-0">
            <span class="nav-text">Compiler options</span>
            <button type="button" class="btn btn-sm btn-primary invisible">[Sizer]</button>
        </nav>

        <div class="h-100" style="overflow-y:auto">
            <div class="options-body">
                <form>
                    <div id="compiler-editors"></div>

                    <div id="add-compiler-button-container" class="mt-2 mb-2 text-center text-secondary d-none">
                        <h4>&darr;</h4>
                        <div class="text-center"><button id="add-compiler-button" class="btn btn-sm">Add compiler</button></div>
                    </div>

                    <div class="mb-3"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<template id="textbox-parameter-template">
    <div class="form-group">
        <label></label>
        <input type="text" class="form-control form-control-sm" data-isinputelement />
        <small class="form-text text-muted"></small>
    </div>
</template>

<template id="combobox-parameter-template">
    <div class="form-group">
        <label></label>
        <select class="form-control form-control-sm" data-isinputelement></select>
        <small class="form-text text-muted"></small>
    </div>
</template>

<template id="checkbox-parameter-template">
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" data-isinputelement />
        <label class="form-check-label"></label>
        <small class="form-text text-muted"></small>
    </div>
</template>

<template id="compiler-editor-template">
    <div class="compiler-container mt-3 mb-3">
        <div data-down-arrow class="mt-2 mb-2 text-center text-secondary">
            <h4>&darr;</h4>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <label class="lead">Compiler</label>
                    <a data-remove-link class="float-right small" href="#">Remove</a>
                    <div class="input-group input-group-sm mb-3">
                        <select data-compiler-select="true" class="form-control"></select>
                        <div class="input-group-append">
                            <span class="input-group-text" style="padding:0">
                                <button data-info-button class="btn btn-sm" type="button" style="border-width:0;color:#777">
                                    <i class="fas fa-info-circle"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div data-version-select="true" class="mt-2 mb-2"></div>
                    <small data-version-description="true" class="form-text text-muted"></small>
                </div>
            </div>
            <div class="card-body">
                <div data-arguments></div>
            </div>
        </div>
    </div>
</template>

<template id="compilation-summary-row-template">
    <tr>
        <td data-field="compiler"></td>
        <td data-field="result"></td>
        <td data-field="output-language"></td>
        <td data-field="output-size"></td>
    </tr>
</template>

<div class="modal fade" id="compiler-info-dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a data-link></a></p>

                <p data-description></p>

                <h5>Input formats</h5>
                <ul data-inputs></ul>

                <h5 data-outputs-header>Output formats</h5>
                <ul data-outputs></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.CompileUrl = "@Url.Action("Compile", "Api")";
    window.CreateGistUrl = "@Url.Action("CreateGist", "Api")";
    window.ShaderLanguages = @Json.Serialize(ShaderPlayground.Core.Compiler.AllLanguages);
    window.ShaderCompilers = @Json.Serialize(ShaderPlayground.Core.Compiler.AllCompilers);
</script>