@model OnlineShaderCompiler.Models.HomeViewModel

<div class="row no-gutters d-flex flex-fill">
    <div class="col-sm d-flex flex-column" style="overflow:hidden">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between flex-shrink-0">
            <span class="navbar-text">Input</span>
            <form class="form-inline">
                <div class="form-group">
                    <select id="language" data-submit="Language" class="form-control form-control-sm mr-sm-2"></select>
                </div>
            </form>
        </nav>

        <div id="code-editor-container" class="d-flex flex-fill">
            <textarea id="Code" data-submit="Code"></textarea>
        </div>
    </div>

    <div class="col-sm-auto options-panel">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <span class="navbar-text">Options</span>
        </nav>

        <div class="container mt-3">
            <form>
                <div id="language-arguments"></div>

                <hr />

                <div class="form-group" style="width:250px">
                    <label class="text-secondary">Compiler</label>
                    <select id="processor" data-submit="Processor" class="form-control form-control-sm"></select>
                </div>

                <hr />

                <div id="processor-arguments"></div>
            </form>
        </div>
    </div>

    <div class="col-sm d-flex flex-column"  style="overflow:hidden">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between flex-shrink-0">
            <span class="navbar-text">Output</span>

            <div id="output-tabs" class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons"></div>
        </nav>

        <div id="output-container" class="d-flex flex-fill"></div>
    </div>
</div>

<script type="text/javascript">
    window.CompileUrl = "@Url.Action("Compile")";
    window.ShaderLanguages = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Languages));
</script>